header {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid black;
}

main {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  font-size: 1.5em;
  align-items: center;
}
.main_image {
    display: flex;
    justify-content: center;
    margin: 5%;
}

.main_image img {
    width: 90%;

}
.navbar {
  margin-top: 5%;
  align-self: center;
  justify-self: center;
  border: 5px solid green;
}
.navbar a {
  justify-content: center;
  align-items: center;
  padding: 100px, 0, 100px, 0;
  margin: 100px, 0, 100px, 0;
}
.navbar li {
  padding: 100px, 0, 100px, 0;
}

.title {
  display: flex;
  justify-content: center;
  padding: 30px;
  margin: 20px 0 20px 0;
  background-color: #4b9cd3;
  border-radius: 10px;
  font-size: 1.5rem;
  color: white;
}

.form-box {
  border: 2px solid #151515;
  border-radius: 4px;
}

#contact-form {
  width: 90%;
  gap: 10px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
}

input[type="text"],
input[type="email"] {
  padding: 12px;
  font-size: 1em;
  border: 2px solid #151515;
  border-radius: 4px;
  height: 35px;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

textarea {
  font-size: 1em;
  border: 2px solid #151515;
  border-radius: 4px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:hover,
input[type="email"]:hover,
textarea:hover {
  border-color: #4b9cd3;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #4b9cd3;
  outline: none;
}

button[type="submit"] {
  position: relative;
  overflow: hidden;
  background-color: #4b9cd3;
  font-size: 1rem;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 4px;
  color: white;
  transition: border-color 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
}

button[type="submit"]:hover {
  opacity: 50%;
  color: #151515;
  border: 2px solid #13294b;
}

.return {
  display: flex;
  justify-content: center;
  padding: 30px;
  margin: 20px 0 20px 0;
  background-color: #4b9cd3;
  border-radius: 10px;
  font-size: 1.5rem;
  color: white;
}

.return a {
  text-decoration: none;
  color: white;
}

.return a:hover {
  text-decoration: underline;
}

.return a:focus {
  text-decoration: underline;
}

.hours-box {
  width: 75%;
  height: 75%;
  gap: 10px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  border: 2px solid #151515;
  border-radius: 4px;
}

.hours-box ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  list-style-type: none;
}

footer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  max-height: 20px;
  height: 20px;
  border-top: 2px solid #151515;
}

.contact-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  margin: 20px 0 20px 0;
  background-color: #4b9cd3;
  border-radius: 10px;
  font-size: 1rem;
  color: white;
}

.contact-button a {
  text-decoration: none;
  color: white;
}

.contact-button a:hover {
  text-decoration: underline;
}

.contact-button a:focus {
  text-decoration: underline;
}

.icon img {
  transform: scale(0.6);
  align-items: center;
}

.browse-box {
  display: grid;
  border: 2px solid #151515;
  border-radius: 4px;
  grid-template-rows: 1fr 9fr;
}

h2 {
  text-align: center;
  border-bottom: 2px solid #151515;
  color: #151515;
}

.item-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.item-grid img {
  width: 100%;
  height: 200px;
  border-radius: 4px;
  scale: 0.9;
  transition: 0.5s;
}

.item-grid img:hover {
  transform: scale(1.1);
}

.clothing-box {
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 1fr;
}
.clothing-item {
  display: grid;
  justify-content: center;
}

.clothing-item img {
  width: 100%;
  height: 200px;
}

.clothing-info ul {
  list-style-type: none;
  display: grid;
  justify-content: center;
  line-height: 1.5;
  text-align: center;
}
.wishlist {
  display: flex;
  justify-content: center;
  padding: 30px;
  margin: 20px 0 20px 0;
  background-color: #4b9cd3;
  border-radius: 10px;
  font-size: 1.5rem;
  color: white;
}

#clear-wishlist-btn {
  display: flex;
  justify-content: center;
  padding: 30px;
  margin: 20px 0 20px 0;
  background-color: #4b9cd3;
  border-radius: 10px;
  font-size: 1.5rem;
  color: white;
}
