header {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid black;
}

main {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  font-size: 1.5em;
  align-items: center;
}
.navbar {
  margin-top: 5%;
  align-self: center;
  justify-self: center;
  border: 5px solid green;
}
.navbar a {
  justify-content: center;
  align-items: center;
  padding: 100px, 0, 100px, 0;
  margin: 100px, 0, 100px, 0;
}
.navbar li {
  padding: 100px, 0, 100px, 0;
}

#contact-form{
    width: 90%;
    gap: 10px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
}
 
input[type=text], input[type=email] {
  padding: 12px; 
  font-size: 1em; 
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 35px;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type=text]:hover, input[type=email]:hover {
  border-color: #67909C;
}

input[type=text]:focus, input[type=email]:focus {
  border-color: #877664; 
  outline: none; 
}

button[type=submit]{
    position: relative;
    overflow: hidden;
    background-color: #4B9CD3;
    font-size: 1rem;
    text-transform: lowercase;
    font-family: "Montserrat", sans-serif;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 1px;
    color: white;
}