header {
  font-size: 2em;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid black;
}

main {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  font-size: 1.5em;
  align-items: center;
}
.main_image {
    display: flex;
    justify-content: center;
    margin: 5%;
}

.main_image img {
    width: 90%;

}
.navbar {
  margin-top: 5%;
  align-self: center;
  justify-self: center;
  width: 80%;
}
.navbar a {
  justify-content: center;
  align-items: center;
  padding: 100px, 0, 100px, 0;
  margin: 100px, 0, 85px, 0;
  font-size: 32px;
  color: white;
  text-decoration: none;
}

.navbar li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 30px;
  margin: 20px 0 20px 0;
  background-color: #4B9CD3;
  border-radius: 10px;
  font-size: 1.5rem;
  color: white;
  font-family: "Roboto", sans-serif;
}

.navbar a:hover{
  text-decoration: underline;
}

.navbar a:focus{
  text-decoration: underline;
}
.main-image{
  display: flex;
  justify-content: center;
  margin: 5%;
}
.main-image img{
  display: flex;
  justify-content: center;
  border-radius: 10px;
  width: 98%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .navbar ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
  }

  .navbar{
    margin: 0
  }

  .main-image img{
    width: 75%;
    height: auto;
  }

  header{
    font-size: 56px;
  }

  
}

.title {
  display: flex;
  justify-content: center;
  padding: 30px;
  margin: 20px 0px 20px 0px;
  background-color: #4b9cd3;
  border-radius: 10px;
  font-size: 48px;
  color: white;
  font-family: "Roboto", sans-serif;
}

.form-box {
  border: 2px solid #151515;
  border-radius: 4px;
}

#contact-form {
  width: 90%;
  gap: 10px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
}

input[type="text"],
input[type="email"] {
  padding: 12px;
  font-size: 18px;
  font-family: "lato", sans-serif;
  border: 2px solid #151515;
  border-radius: 4px;
  height: 35px;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

textarea {
  font-size: 18px;
  font-family: "lato", sans-serif;
  border: 2px solid #151515;
  border-radius: 4px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:hover,
input[type="email"]:hover,
textarea:hover {
  border-color: #4b9cd3;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #4b9cd3;
  outline: none;
}

button[type="submit"] {
  position: relative;
  overflow: hidden;
  background-color: #4b9cd3;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 4px;
  color: white;
  transition: border-color 0.3s ease, box-shadow 0.3s ease,
    opacity 0.3s ease;
}

button[type="submit"]:hover {
  opacity: 50%;
  color: #151515;
  border: 2px solid #151515;
}

button[type="submit"]:focus {
  opacity: 50%;
  color: #151515;
  border: 2px solid #151515;
}

.return {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  margin: 20px 20px 20px 20px;
  background-color: #4b9cd3;
  border-radius: 10px;
  font-size: 32px;
  color: white;
  font-family: "Roboto", sans-serif;
}


.return a {
  text-decoration: none;
  color: white;
}

.return a:hover {
  text-decoration: underline;
}

.return a:focus {
  text-decoration: underline;
}

.hours-box {
  width: 75%;
  height: 100%;
  gap: 10px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  border: 2px solid #151515;
  border-radius: 4px;
}

.hours-box ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  list-style-type: none;
  line-height: 5;
  font-size: 18px;
  font-family: "lato", sans-serif;
}

footer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  max-height: 20px;
  height: 20px;
  border-top: 2px solid #151515;
}

.contact-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 80%;
  margin: 30px 0 20px 50px;
  background-color: #4b9cd3;
  border-radius: 10px;
  font-size: 2rem;
  color: white;
}

.contact-button a {
  text-decoration: none;
  color:white
}

.contact-button a:hover {
  text-decoration: underline;
}

.contact-button a:focus {
  text-decoration: underline;
}

.icon img {
  transform: scale(0.6);
  align-items: center;
}

.browse-box {
  display: grid;
  border: 2px solid #151515;
  border-radius: 4px;
  grid-template-rows: 1fr 9fr;
}

h2 {
  text-align: center;
  margin-bottom: 5px;
  border-bottom: 2px solid #151515;
  color: #151515;
}

.item-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.item-grid img {
  width: 100%;
  height: 200px;
  border-radius: 4px;
  scale: 0.9;
  transition: 0.5s;
}

.item-grid img:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  
  .browse-box .item-grid img{
    width: 500px;
    height: auto;
  }
  .browse-box{
  width: 75%;
  margin: 0 auto;
  }

  h2{
    font-size: 36px;
    margin-top: 50px;
  }

  .title{
    margin: 20px 100px 20px 100px;
  }

  .return{
    margin: 20px 100px 20px 100px;
  }
}

.clothing-box {
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 1fr;
}
.clothing-item {
  display: grid;
  justify-content: center;
}

.clothing-item img {
  width: 100%;
  height: 200px;
}

.clothing-info ul {
  list-style-type: none;
  display: grid;
  justify-content: center;
  line-height: 1.5;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .clothing-item{
    display: grid;
    grid-area: item;
    margin:10% 0 15% 50%;
}

.clothing-item img{
  height: 400px;
  width: auto;
}

.clothing-info{
  display: grid;
  grid-area:info;
  margin: 40% 50% 25% 0; 
  font-family: "lato", sans-serif;
  font-size: 24px;
}

.clothing-box{
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "item info"
  "item info";
}
}

.wishlist {
  display: flex;
  justify-content: center;
  padding: 30px;
  margin: 20px 20px 20px 20px;
  background-color: #4b9cd3;
  border-radius: 10px;
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  color: white;
}

.wishlist a{
  text-decoration: none;
  color: white;
  font-size: 32px;
  font-family: "Roboto", sans-serif;
}

.wishlist:hover{
  text-decoration: underline;
}

.wishlist:focus{
  text-decoration: underline;
}

#clear-wishlist-btn {
  display: flex;
  justify-content: center;
  padding: 30px;
  margin: 20px 0 20px 0;
  background-color: #4b9cd3;
  border-radius: 10px;
  font-size: 1.5rem;
  font-family: "lato", sans-serif;
  color: white;
  transition: border-color 0.3s ease, box-shadow 0.3s ease,
    opacity 0.3s ease;
}

#clear-wishlist-btn:hover{
  opacity: 50%;
  color: #151515;
}

#clear-wishlist-btn:focus{
  opacity: 50%;
  color: #151515;
}

@media screen and (min-width: 768px) {
  .wishlist{
    margin: 20px 100px 20px 100px;
  }
}
