header {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid black;
}

main {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  font-size: 1.5em;
  align-items: center;
}
.navbar {
  margin-top: 5%;
  align-self: center;
  justify-self: center;
  border: 5px solid green;
}
.navbar a {
  justify-content: center;
  align-items: center;
  padding: 100px, 0, 100px, 0;
  margin: 100px, 0, 100px, 0;
}
.navbar li {
  padding: 100px, 0, 100px, 0;
}
